<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movieweb</title>
</head>
<body>
<h2>Witaj na stronie <b>Movieweb</b>, z której dowiesz się wszystkiego o filmach.</h2>
<h3>Wybierz z listy co chcesz zrobić: </h3>
<ul>
    <li><a href="/add_person/">Dodaj osobę do bazy danych</a></li>
    <li><a href="/add_movie/">Dodaj film do bazy danych</a></li>
    <li><a href="/movies/">Zobacz filmy w bazie danych</a></li>
    <li><a href="/persons/">Zobacz osoby w bazie danych</a></li>
</ul>
</body>
</html>